/*=================================================
Banner - Sub Page
=================================================== */
.sub-banner-container {
	height: 400px;
	overflow: hidden;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}