/* Module - Header - Stylized
================================================== */

.stylized-header-container {
	margin-left: 40px;
	
	h2 {
		margin-top: -10px;
	}
}
.stylized-title-underline {
	height: 5px;
	width: 50px;
	margin-top: -10px;
	
}