/* Module - Hero
================================================== */
#banner{
	display: flex;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	  
	height: 400px;
}

.banner-content {
	height: 100%;
	width: 100%;
	padding: 0 40px;
	/*background: #34957355;*/
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.flex-start {
	align-items: flex-start;
}
.flex-center {
	align-items: center;
}
.flex-end {
	align-items: flex-end;
}


.overlay-black {
	background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5));
}
.overlay-white {
	background: linear-gradient(rgba(255,255,255, .5),rgba(255,255,255, .5));
}

.words {
	
}
.home-banner-headline {
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	line-height: 1em;
}
.home-banner-subtitle {
	font-size: 1.5em;
	margin: 20px 0;
	text-shadow: 1px 1px 1px #000;
}
